doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    h1 Mr. Manatee

    if (streaming)
      p.
        Use your hands to make the manatees swim!
    else
      p.
        Connect a LeapMotion to make the manatees swim!
    audio(id='chirp' src='/audio/manatee_chirp.mp3')
    script(type='text/javascript' src='http://js.leapmotion.com/leap-0.4.3.min.js')
    script(type='text/javascript' src='http://js.leapmotion.com/leap-plugins-0.1.3.js')
    script(type='text/javascript' src='/js/manatee.js')
